
//Container details
#schedule-container {

}



/*
 * Scheduler main image
 */

#schedule-header {
  height: 350px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;

  & .schedule-header__image {
    background-color: rgba(33,33,33 ,1);
    height: 100%;

    background-position: center;
    background-size: cover;
  }
  & .schedule-header__description {
    background-color: rgba(33,33,33 ,1);
    height: 100%;
  }
}

/*
 * Scheduler date slider
 */

.schedule-date--container {
  height: 100px;
  width: 100px;
 // background-color: rgba(#212121,.2);
  border-bottom: 2px solid $shadow-color;//$accent-color;
  cursor: pointer;
  float: left;

  padding-left: 10px;
  padding-right: 10px;
}

.schedule-date--container.schedule-date--container__active {
  border-bottom: transparent;
  background-color: transparent;
}



.schedule-date--container__fitted {
/*  padding-left: 10px;
  padding-right: 10px;*/
  padding-top: 10px;
}


.schedule-date--container__active > .schedule-date--container__fitted {
  background-color: $accent-color;//#e3e3e3;
  color: $text-secondary;
  height: 100%;
  border-radius: 10px;
}

.scheduler-dates-slider-wrapper {
  overflow: hidden;
}


.schedule-date--container > .schedule-date--container__fitted >.schedule-date--container__number {

  & > h1 {
    text-align: center;
    font-size: 9rem;
    margin-top: 11px;
  }
}

.schedule-date--container > .schedule-date--container__fitted > .schedule-date--container__name {

  & > h4 {
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
  }
}


.schedule-date--container__triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 12px solid $accent-color;
}


.scheduler-dates-slider--navigation {
  position: absolute;
  background-color: rgba(120,144,156 ,0.31);
  z-index: 1001;

  &.scheduler-dates-slider--navigation__left {
    left: 0;
  }
  &.scheduler-dates-slider--navigation__right {
    right: 0;
  }

  & > i.material-icons {
    font-size: 70px;
    vertical-align: middle;
  }

  &:hover, &:focus {
    background-color: rgba(120,144,156 ,0.45);
  }
}


.scheduler-dates-slider-float {
  transition: all 1s cubic-bezier(.85,.8,.04,1);
}


/*
 * Scheduler items
 */

.schedule-item--date {
  margin-top: 30px;

  & > h2 {
    font-weight: 600;
  }

}

.schedule-item--container {
  height: 100px;
  box-shadow: 0px 3px 3px  rgba(96,125,139 ,.75);
  margin-bottom: 10px;
}

.schedule-item--container__description {


  //background-image: rgba(96,125,139 ,.20), url("/img/assets/hexagon.jpg");

  color: $text-color;
  height: 100%;
  overflow: hidden;

  //border-radius: 10px 0 0 10px;
  box-shadow: 3px 0 1px 0 rgba(96,125,139 ,.50);
  z-index: 101;


  &:after {
    content: "";

    background: {
      image: url("/img/assets/hexagon.jpg");
      color: rgba(96,125,139 ,.50);
      blend-mode: color-burn;
    };

    opacity: .14;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;

    z-index: -1;
  }
}

.schedule-item--container__date {
  background-color: $accent-color;
  height: 100%;

  & p{
    color: $text-secondary;
    font-size: 20px;
    margin-left: 10%;

    &:first-of-type {
      margin-bottom: 0;
      margin-top: 20px;
    }
  }
}

.schedule-item--container__options {
  background-color: rgba(238,238,238 ,1);//rgba(38,50,56 ,0.9);
  height: 100%;
  padding: 0;

  & p {
    color: $text-color; //$text-secondary;

    display: flex;
    width: 100%;
    height: 50%;
    margin: 0;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 1.3em;

    transition: all .3s ease-in-out;

    &:hover {
      color: $text-secondary;
      background-color: rgba(38,50,56 ,0.9);
    }
  }
}