.btn-custom {
  @extend .btn-default;
  box-shadow: -2px 1px 3px #EEEEEE;
  background-color: transparent;
  border-color: $accent-color;
  border-top: transparent;
  border-right: transparent;
  border-radius: $btn-default-border-radius;

  background: {
    image: linear-gradient(45deg, $accent-color 50%, transparent 50%);
    position: 90%;
    size: 400%;
  }
  color: $accent-color;
  width: 98%;
  transition: 0.7s ease all;
  text-transform: uppercase;

  &:hover, &:focus {
    background-position: 0;
    border-color: rgba(darken($accent-color, 5), .74);
    color: $text-secondary;
    box-shadow: 1px 1px 3px $shadow-color;
  }
}

.btn-custom-secondary {
  @extend .btn-default;
  border-radius: $btn-default-border-radius;
  background: darken($accent-color, 5);
  color: $text-secondary;
  //box-shadow: -2px 1px 3px #EEEEEE;
  box-shadow: 1px 1px 3px #636b6f;
  border-color: darken($accent-color, 5);

  background: {
    image: linear-gradient(45deg,  #EEEEEE 50%, transparent 50%);
    position: 90%;
    size: 400%;
  }

  //border-color: #0072ff;
  width: 98%;
  //margin-top: 10px;
  transition: 0.7s ease all;
  text-transform: uppercase;

  &:hover, &:focus {
    background-position: 0;
    border-color: transparent;// rgba(darken($accent-color, 5), .74);
    color: $btn-default-color;
    box-shadow: 1px 1px 3px $shadow-color;
/*    background: $btn-default-bg;
    color: $btn-default-color;*/
  }
}

.shadow-dark {
  box-shadow: 1px 1px 3px #636b6f;
}

.btn-custom-secondary-filled {
  @extend .btn-default;
  border-radius: 0px;
  color: #fff;
  background-color: rgba(#0072ff, 0.8);
  border-color: #0072ff;
  width: 100%;
  margin-top: 10px;
  transition: 0.7s ease all;
  text-transform: uppercase;
}

.btn-custom-secondary-filled:hover, .btn-custom-secondary-filled:focus {
  border-color: darken(#0072ff, 10);
  color: #fff;
  //color: darken(#0072ff,20);
  background-color: rgba(#0072ff, 1);
}

.btn-custom-danger {
  @extend .btn-default;
  border-radius: 0px;
  background: #fff;
  color: darken(#ef473a,20);
  border-color: #ef473a;
  width: 100%;
  //margin-top: 10px;
  transition: 0.7s ease all;
  text-transform: uppercase;
}

.btn-custom-danger:hover, .btn-custom-danger:focus {
  border-color: darken(#ef473a, 10);
  color: darken(#ef473a, 30);
}

.btn-success {
  border-radius: 0;
  font-weight: 600;
  text-transform: uppercase;
}


.btn-primary {
  border-radius: 0;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-danger {
  border-radius: 0;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-provider {
  @extend .btn-default;
  box-shadow: -2px 1px 3px #EEEEEE;
  border-radius: $btn-default-border-radius;
  width: 98%;
  //margin-top: 10px;
  transition: 0.7s ease all;
  font-weight: 400;
  text-transform: uppercase;

}

.btn-provider.google {
  background: transparent;
  //color: #fff;//212121;
  border-color: #dd4b39;
  border-top: transparent;
  border-right: transparent;

  background: {
    image: linear-gradient(45deg, #dd4b39 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }
  color: #dd4b39;
  &:hover, &:focus {
    background-position: 0;
    border-color: rgba(darken(#dd4b39, 5), .74);
    color: #fff;
    box-shadow: 1px 1px 3px $shadow-color;
  }
}

.btn-provider.facebook {
  background: transparent;
  border-color: #3b5999;

  border-top: transparent;
  border-right: transparent;

  background: {
    image: linear-gradient(45deg, #3b5999 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }

  color: #3b5999;


  &:hover, &:focus {
    background-position: 0;
    border-color: rgba(darken(#3b5999, 5), .74);
    color: #fff;
    box-shadow: 1px 1px 3px $shadow-color;
  }
}