.footer {
 // width: 100%;
 // position: fixed;
 // margin-top: -40px;
  //margin-top: -90px;
  background: rgba($body-bg, 0.9);
  z-index: 1005;
}

.login-footer {
  color: #455A64;
  //text-shadow: 1px -1px 3px #636b6f;
  background-color: #f5f8fa;
}

.footer > p {
 // color: $text-color;
  font-weight: 600;
}


//Foooter error box

#error-messenger {
  height: 0px;
  overflow: hidden;
}

#error-messenger.visible {
  height: 100px;
  background-color: #f44336;
  position: fixed;
  bottom: 0;
  box-shadow: 3px 2px 3px #757575;
  transition: height 0.3s cubic-bezier(0.64, 1.01, 0.4, 1.21);
}

#error-messenger > h4 {
  color: $text-secondary;
  margin-top: 20px;
  text-shadow: 1px 2px 1px #212121;
}
