

/** Basic hexagon */

.hexagon {
  position: absolute;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
}

.hexagon:before {
  bottom: 100%;
}

.hexagon:after {
  top: 100%;
  width: 0;
}

/** hexagon sizes*/
.hexagon__large {
  width: 500px;
  height: 288.68px;
  margin: 144.34px 0;
}

.hexagon__large:before,
.hexagon__large:after {
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
}

.hexagon__large:before {
  border-bottom: 144.34px solid;
}

.hexagon__large:after {
  border-top: 144.34px solid;
}

.hexagon__medium_large {
  width: 320px;
  height: 184.75px;
  margin: 92.38px 0;

  &:before, &:after {
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
  }

  &:before {
    border-bottom: 92.38px solid;
  }

  &:after {
    border-top: 92.38px solid;
  }
}


.hexagon__middle {
  width: 200px;
  height: 115.47px;
  margin: 57.74px 0;
}

.hexagon__middle:before,
.hexagon__middle:after {
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}

.hexagon__middle:before {
  border-bottom: 57.74px solid;
}

.hexagon__middle:after {
  border-top: 57.74px solid;
}

.hexagon__small {
  width: 130px;
  height: 75.06px;
  margin: 37.53px 0;

  &:before, &:after {
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
  }

  &:before {
    border-bottom: 37.53px solid;
  }

  &:after {
    border-top: 37.53px solid;
  }
}


/** hexagon positions */

.hexagon--position__first {
  left: 80px;
  top: 60px;
  z-index: -100;
}

.hexagon--position__second {
  z-index: -101;
  top: 430px;
  left: 114px;
}

.hexagon--position__third {
  top: 129px;
  left: 15px;
  z-index: -99;
}


.hexagon--position__fourth {
  top: 960px;
  //right: 25%;
  right: 350px;
  z-index: -100;
}

.hexagon--position__fifth {
  z-index: -101;
  top: 1143px;
  //right: 14.6%;
  right: 278px;
}

.hexagon--position__sixth {
  top: 1236px;
  //right: 19.8%;
  right: 378px;
  z-index: -99;
}

.hexagon--position__seventh {
  top: 1375px;
  //right: 22%;
  right: 420px;
  z-index: -97;
}



.hexagon--position_grey_first {
  left: 55%;
  top: 250px;
  z-index: -98;
}

.hexagon--position_grey_second {
  left: 66%;
  top: 100px;
  z-index: -98;
}

.hexagon--position_grey_third {
  top: 578px;
  left: 56px;
  //left: 3%;
  z-index: -98;
}

/** hexagon colors */

.hexagon__accent {
  background-color: rgba($accent-color, 0.74);
}

.hexagon__accent:before {
  border-bottom-color: rgba($accent-color, 0.74);
}

.hexagon__accent:after {
  border-top-color: rgba($accent-color, 0.74);
}


.hexagon__purple {
  background-color: rgba(#4527A0, 0.84);
  &:before {
    border-bottom-color: rgba(#4527A0, 0.84);
  }

  &:after {
    border-top-color: rgba(#4527A0, 0.84);
  }
}

.hexagon__pink {
  background-color: rgba(#E91E63, .91);

  &:before {
    border-bottom-color: rgba(#E91E63, .91);
  }

  &:after {
    border-top-color: rgba(#E91E63, .91);
  }
}

.hexagon__light_green {
  background-color: rgba(#8BC34A, .91);

  &:before {
    border-bottom-color: rgba(#8BC34A, .91);
  }

  &:after {
    border-top-color: rgba(#8BC34A, .91);
  }
}


.hexagon__dark_grey {
  background-color: rgba(#E0E0E0, .51);

  &:before {
    border-bottom-color: rgba(#E0E0E0, .51);
  }

  &:after {
    border-top-color: rgba(#E0E0E0, .51);
  }
}

.hexagon__grey {
  background-color: rgba(#78909C, .23);

  &:before {
    border-bottom-color: rgba(#78909C, .23);
  }

  &:after {
    border-top-color: rgba(#78909C, .23);
  }
}

.hexagon__light_grey {
  background-color: rgba(#F5F5F5, .51);

  &:before {
    border-bottom-color: rgba(#F5F5F5, .51);
  }

  &:after {
    border-top-color: rgba(#F5F5F5, .51);
  }
}


.hexagon__yellow {
  background-color: rgba(#FFD54F, .95);

  &:before {
    border-bottom-color: rgba(#FFD54F, .95);
  }

  &:after {
    border-top-color: rgba(#FFD54F, .95);
  }
}

.hexagon__red {
  background-color: rgba(#DE4242, .85);

  &:before {
    border-bottom-color: rgba(#DE4242, .85);
  }

  &:after {
    border-top-color: rgba(#DE4242, .85);
  }
}

.hexagon__light_blue {
  background-color: rgba(#40C4FF, .95);

  &:before {
    border-bottom-color: rgba(#40C4FF, .95);
  }

  &:after {
    border-top-color: rgba(#40C4FF, .95);
  }
}










/** SOME STYLING ASSETS */

.parallelogram--small {
  position: absolute;
  width: 130px;
  height: 130px;

  top: 149px;
  left: 15px;
  z-index: -99;

  -webkit-clip-path: polygon(100% 14%, 100% 72%, 50% 100%, 50% 43%);
  clip-path: polygon(100% 14%, 100% 72%, 50% 100%, 50% 43%);

  background-color: #1A237E;
}

.parallelogram--medium {
  position: absolute;
  width: 200px;
  height: 200px;

  top: 519px;
  //left: 3%;
  left: 56px;
  //left: 15px;
  z-index: -97;

  -webkit-clip-path: polygon(28% 42%, 50% 30%, 100% 59%, 78% 71%);
  clip-path: polygon(28% 42%, 50% 30%, 100% 59%, 78% 71%);

  background-color: #CDDC39;
//  z-index: 98;
}


.parallelogram--right-small {
  position: absolute;
  width: 200px;
  height: 200px;

  top: 1176px;
  //right: 19.8%;
  right: 378px;
  //left: 15px;
  z-index: -97;

  -webkit-clip-path: polygon(50% 70%, 50% 30%, 100% 58%, 100% 100%);
  clip-path: polygon(50% 70%, 50% 30%, 100% 58%, 100% 100%);

  background-color: #D4E157;
  //  z-index: 98;
}

