#login-container {
  background-position: center;
  background-size: cover;
//  height: 100vh;
 // min-height: 100%;
  padding-bottom: 90px;
  height: 550px;
  box-shadow: 0px 3px 6px #212121;
}

#login-info-container {
  min-height: 550px;
  padding-top: 200px;
}


#login-form-box {
  @media (min-width: 768px) {
    margin-top: 20%;
   // margin-left: -150px;
  }

  @media (max-width: 767px){
    margin-top: 15%;
  }
}

#login-form-box .panel-default {
  box-shadow: 0px 0px 30px 1px $shadow-color;
}



///form css
#login-form .form-control, #register-form .form-control {
  width: 100%;
  border-radius: 0px;
  border-width: 0px;
  border-bottom: 1px solid $accent-color;
  box-shadow: none;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.4s linear all;
}

#login-form .form-control:focus {
  border-bottom: 2px solid $accent-second-color;
}

#login-form-title {
  color: #fff;
  text-shadow: 1px 1px 3px #636b6f;
  text-transform: uppercase;
  padding-top: 20px;
}

#login-form-sidebox {
  min-height: 450px;
  background-position: center;
  background-size: cover;
  background-color: rgba(96,125,139 ,0.8);
  background-blend-mode: luminosity;
}

#login-form-sidebox ul {
  list-style: none;
  padding-top: 20px;
}

#login-form-sidebox ul li {
  line-height: 3;
  color: #fff;
  text-shadow: 1px 1px 3px #636b6f;
}

#login-form-sidebox ul li i {
  vertical-align: middle;
  padding-right: 15px;
  color: $accent-color;
}

.login-info-titles {
  padding-top: 75px;
  text-shadow: 1px 1px 3px #636b6f;
}

.login-hr {
  //height: 10px;
  //border: 0;
  //box-shadow: 0 10px 10px -10px #00c6ff inset;
  border: 0;
  height: 1px;
  background-image: linear-gradient(270deg, #f0f0f0, $accent-color, #f0f0f0);
  background-image: -webkit-linear-gradient(270deg, #f0f0f0, $accent-color, #f0f0f0);
  background-image: -moz-linear-gradient(270deg, #f0f0f0, $accent-color, #f0f0f0);
  background-image: -ms-linear-gradient(270deg, #f0f0f0, $accent-color, #f0f0f0);
  background-image: -o-linear-gradient(270deg, #f0f0f0, $accent-color, #f0f0f0);

}





//register modal

#register-modal .modal-content {
  border-radius: 0px;
}

/*
@import "naoInput";*/


// Bloood merry

/*
background: #FF512F;  /!* fallback for old browsers *!/
background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /!* Chrome 10-25, Safari 5.1-6 *!/
background: linear-gradient(to right, #DD2476, #FF512F); /!* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!/
*/


// floating thing

.float-login-box {
  height: 50px;
  width: 50px;
  border: 3px solid;
  border-radius: 50%;
  position: absolute;
  left: -50px;
  background-color: #f5f5f5;
  border-color: $accent-color;
  box-shadow: 0px 0px 12px -1px $accent-color inset;
}

.float-login-number {
  //color: darken(#f5f5f5, 10);
  text-align: center;
  width: 100%;
  line-height: 45px;
  margin-bottom: 0;
  font-size: 1.4em;
  font-weight: 600;
  color: $accent-color;
}

.float-login-number > .material-icons {
  line-height: 45px;
  text-shadow: 1px 1px 3px #636b6f;
}

.login-small-info-title {
  line-height: 45px;
  /* padding: 0px; */
  margin: 0;
}



#login-info-container ul {
  list-style: none;
  padding-top: 20px;
  padding-left: 0px;
}

#login-info-container ul li {
  line-height: 3;
 // color: #fff;
 // text-shadow: 1px 1px 3px #636b6f;
}

#login-info-container ul li i {
  vertical-align: middle;
  padding-right: 15px;
  //color: $accent-color;
  text-shadow: 1px 1px 3px #636b6f;
}

.login-title-shadow {
  text-shadow: 1px 1px 3px #636b6f;
}

.login-total-count-img {
  background-image: url(http://travel.test:8080/img/assets/login/text_3.png);

  @media (min-width: 768px) {
    min-height: 450px;
  }

  @media(max-width: 767px) {
    min-height: 300px;
  }

  background-position:  center;
  background-size:  cover;
}

#trips-created-title {
  //line-height: 220px;
  margin-top: 160px;
  font-size: 50px;
  text-shadow: 1px 1px 3px #3F51B5;
}

#trips-created-title > i {
  color: $accent-color;
  text-shadow: 1px 1px 3px #636b6f;
  font-size: 36px;
}

