html {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  //min-height: 100vh;
  margin: 0;
  height: 100%;
  //background-color: #112233;
  // background-image: url("../../img/photography.png");
  //background-size: cover;
  background: rgba($body-bg, 0.9);
}

.container-fluid {
  height: 100%;
}

textarea {
  resize: none!important;
}

.visible {
  display: block !important;
}