.modal-content {
  border-radius: 0;
}

.modal-header {
  background-color: $primary-background-color;
  color: $text-secondary;
  text-transform: uppercase;
}



/// modal forms

#create-travel .form-control, #edit-schedule-task-modal .form-control, #create-schedule-task-modal .form-control {
  width: 100%;
  border-radius: 0px;
  border-width: 0px;
  border-bottom: 1px solid $accent-color;
  box-shadow: none;
  margin-top: 20px;
  margin-bottom: 40px;
  transition: 0.4s linear all;

  &:hover {
    border-bottom: 2px solid $accent-second-color;
  }

  &:focus {
    border-bottom: 2px solid $accent-second-color;
  }

}

/*#create-travel .form-control:focus {

}*/


/// well

.scheduled-task-well {
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 0;
}


// flash messages

.alert-box {
  position: absolute;
  z-index: 100;
  margin-top: 20px;
}

.static-alert .alert-box {
  position: relative;
}


// modal overrides

.close:hover, .close:focus {
  color: $accent-color;
  opacity: 0.8;
}



