
////////////////////// main navigator  ///////////////////////////////////


.navbar-default {
  border-radius: 0px 0px 0px 0px;
  //margin-top: 20px;
  margin-bottom: 0px;
  //border-bottom: 1px solid $navbar-default-bg;
  border-color: rgba($navbar-default-bg, 0.7);
  box-shadow: 1px 1px 3px $navbar-default-bg;

  background: {
    image: linear-gradient(rgba($navbar-default-bg, .75), rgba($navbar-default-bg, .75)), url("/img/assets/profile/mountine.jpg");
    size: cover;
    position: center;
    position-y: -420px;
  }
/*  background-image: ;
  background-position: center;
  background-size: cover;
  background-position-y: -420px;*/
}

.navbar-default .navbar-nav > li > a > i.material-icons {
  vertical-align: middle !important;
  text-shadow: 3px 2px 1px $shadow-color;
}

.navbar-default .navbar-nav > li > a {
  color: $text-secondary;
  transition: .3s ease-in all;

  &:hover {
    color: $accent-color;
  }

  &:focus {
    color: $accent-color;
  }

  &.active {
    background: rgba(#212121, 0.4);
    border-bottom: 2px solid rgba(#212121, 0.4);
  }
}

////////////////////// profile under navigator  ///////////////////////////////////

#profile-info-container {
  overflow: hidden;

  width: 100%;
  height: 0px;

  transition: 0.4s cubic-bezier(0.64, 1.01, 0.4, 1.21) all;
  //background-color: lighten($navbar-default-bg,15);

  background: {
    image: linear-gradient(rgba($navbar-default-bg, .7), rgba($navbar-default-bg, .7)), url("/img/assets/profile/mountine.jpg");
    size: cover;
    position: center;
    //position-y: -420px;
  }


  box-shadow: 1px 1px 3px $navbar-default-bg;

  //border-left: 1px solid $body-bg;
  //border-right: 1px solid $body-bg;
}

#profile-info-container.extended {
  height: 520px;
}

#profile-info-container #profile-image {
  background-position: center;
  background-size: contain;
  border: 4px solid $navbar-default-bg;
  box-shadow: 1px 1px 3px $navbar-default-bg;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

#profile-info-container > .row {
  margin-top: 15px;
}

#profile-info-container {
  & h2, & h3, & h4, & p {
    color: $text-secondary;
    font-weight: 300;
    word-wrap: break-word;
  }
}

#profile-info-container textarea, #profile-info-container input[type="text"] {
  display: none;
}


.edit-button {
  opacity: 0;
  position: absolute;
  color: $accent-color;
  cursor: pointer;
  font-size: 30px;
  right: 10px;
  margin-top: -30px;
  transition: 0.2s ease-in opacity;

  border-radius: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: rgba($navbar-default-bg, 0.4);
}

.edit-button > i.material-icons {
  font-size: 30px;
  text-shadow: 3px 2px 1px $shadow-color;
}

.edit-button.visible {
  opacity: 1;
}

.profile-hr {
  border-top: 1px solid $shadow-color;
}

/*#profile-info-container.extended #profile-image {
  opacity: 1;
}*/

////////////////////// sidebar navigator  ///////////////////////////////////

#profile-nav-sidebar{
  overflow: auto;
  overflow-x: hidden;
  position: fixed;
  height: 100%;
  width: 50px;
  background-color: $primary-background-color;
  z-index: 100;
  //overflow: hidden;
  opacity: .99;
}

#profile-nav-sidebar::-webkit-scrollbar {
  width: 0.7em;
}

#profile-nav-sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#profile-nav-sidebar::-webkit-scrollbar-thumb {
  background-color: $accent-color;
  outline: 1px solid darken($accent-color,10);
}



#extend-nav-sidebar.nav-extended{
  width: 300px;
}

#extend-nav-sidebar {
  color: $accent-color;//#ef473a;
  cursor: pointer;
}
#extend-nav-sidebar:hover {
  color: darken($accent-color, 10);
}

#info-nav-sidebar h4 {
  color: $accent-color;
}

#info-nav-sidebar .extended-text h4 {
  cursor: pointer;
}

#info-nav-subnavbar {
  padding-left: 0px;
  list-style: none;
  display: none;
}

#info-nav-subnavbar.extended-navbar {
  display: block;
}


//
#info-nav-sidebar {
  //height: 240px;
  min-height: 106px;

  padding-top: 15px;
  padding-bottom: 15px;

  border-top: 2px solid lighten($primary-background-color, 5);
  border-bottom: 2px solid lighten($primary-background-color, 5);

  cursor: default !important;

}

#profile-nav-sidebar .row.extra-tabs {
  /*color: #00c6ff;*/
  transition: 0.5s ease all;
  cursor: pointer;
  color: $text-secondary !important;

  &:hover, &:focus {
    color: $accent-color !important;
    //background-color: ;
    background-color: darken($primary-background-color,5);
  }
}

#profile-nav-sidebar .row.extra-tabs.active {
  transition: 0.5s ease all;
  cursor: pointer;
  color: $accent-color !important;
  //background-color: ;
  background-color: darken($primary-background-color,5);

  &:hover, &:focus {
    background-color: darken($primary-background-color,10);
  }
}

.nav-extended .extended-text {
  display: block;
  padding-left: 30px;
}

.extended-text {
  display: none;
}
.extended-text h4 {
  width: 200px;
  font-weight: 100;
}

.nav-extended .non-extended-text {
  display: none;
}

.non-extended-text {
  display: block;
  font-weight: 100;
}





/*.extra-tabs h4 {
  transition: 0.5s ease all;
  cursor: pointer;
}*/

/*.extra-tabs h4:hover {
  color: $accent-color;
}*/


