.well.notes h3 {
  word-wrap: break-word;
  overflow: hidden;
}


.option-button-holder {
  position: absolute;
}

.option-button-holder .material-icons {
  cursor: pointer;
  font-size: 1.4em;
  text-shadow: 1px 1px 3px $accent-color;
}

.option-button-holder .material-icons.delete-option {
  transition: 0.7s all ease;
  
  &:hover {
    transform: rotate(270deg);
  }
}

.option-button-holder .material-icons.edit-option {
  transition: 0.7s all ease;

  &:hover {
    transform: rotate(270deg);
  }
}

