.panel-custom-header > .panel-heading {


  //margin-top: 50px;
  background-color: $accent-color;
  background-image: linear-gradient(rgba($accent-color, .7), rgba($accent-color, .7)), url("/img/assets/profile/mountine.jpg");

  background-clip: border-box;

  background-position: right;
  background-position-x: 0;
  background-position-y: 270px;

  box-shadow: 0 4px 6px rgba(59, 59, 59, 0.15);
  &>h3 {
    text-transform: uppercase;
    color: $text-secondary;

    margin-top: 21px;
    margin-bottom: 21px;

    font-weight: 100;
  }


}