#profile-container, #schedule-wrapper {
  //background: rgba($secondary-background-color, 0.9); //#cb2d3e;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  padding-bottom: 90px;
  margin-top: 50px;
}

.error-container {
  //background-color: #F5F5F5;
  min-height: 95vh !important;
}

#profile-container .col-sm-8 > .well, #profile-container .col-xs-12 > .well  {
  //margin-top: 50px;
  border-radius: 0;

  box-shadow: 0 4px 6px rgba($shadow-color,.15);//4px 4px 18px 0px $shadow-color;
  border-color: rgba($shadow-color,.20);
}

.header-text {
  color: $text-secondary;
}




#settings-box-small {
  position: absolute;
  margin: auto;
  left: 200px;
  border: 2px solid  darken($accent-color, 20);
  border-radius: 50% 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 27px;
  cursor: pointer;
}

#settings-box-small i {
  line-height: inherit;
  color: $accent-color;
}

.total-count-box > p {
  color: $accent-color;
  font-size: 50px;
}

/*.non-extended-text i.material-icons,.extended-text i.material-icons {
  vertical-align: middle !important;
}*/




///Test sidebar with background

.sidebar-hidden-background {
  background-image: url("/img/assets/login.jpg");
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#profile-nav-sidebar:after {
  //background-color: red;
  background-image: url("/img/assets/login.jpg");
  opacity: .8;
  background-color: red;
}


///Info boxis

.info-box {
  padding-left: 10px;
  padding-right: 10px;
}

.info-box-header {
  width: 85px;
  height: 85px;
  position: absolute;
  margin-top: -40px;
  box-shadow: 3px 2px 3px #757575;

  &>p>i {
    font-size: 3em;
    text-shadow: 3px 2px 1px #212121;
    line-height: 2;
  }

}

.info-box-body {
  border-bottom: 1px solid $accent-color;

  &>h2 {
    margin-top: 11px;
  }
}

.info-box-footer > p {
  margin-bottom: 0px;
  margin-top: 5px;
}



.achievement-icon {
  width: 85px;
  height: 85px;
/*  position: absolute;
  margin-top: -40px;*/
  box-shadow: 3px 2px 3px #757575;

  &>p>i {
    font-size: 3em;
    text-shadow: 3px 2px 1px #212121;
    line-height: 2;
  }
}

.well.well-travel {
  padding-left: 5px;
  padding-right: 5px;
}

.well .well-travel-body {
  height: 235px;
  border-bottom: 1px solid $accent-color;
}

.well .well-travel-info {
  margin-top: -25px;
}

.well .well-travel-info h4 {
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 1.5rem;
}
.well .well-travel-info  p {
  height: 50px;
  font-size: 1.2rem;
}

.well > .well-travel-footer p {
  //min-height: 50px;
  margin-top: 11px;
}

.well > .well-travel-footer i {
  vertical-align: middle;
  font-size: 14px;
  line-height: 1.6;
}

.well .well-travel-image {
  cursor: pointer;

  height: 260px;
  //margin-top: -35px;
  transform: translateY(-35px);
  background-color: #fff;
  //border: 1px solid #212121;
  box-shadow: 1px 1px 3px #e3e3e3;
  transition: all 0.31s cubic-bezier(0.64, 1.01, 0.4, 1.21);
}

.well .well-travel-image.active-box {
  transform: translateY(-77px);
}

.well .well-travel-image > h4 {
  //line-height: 240px;
  padding-top: 60px;
  margin-bottom: 0;
}

.achievement-box {
  box-shadow: 0 4px 6px rgba(0,0,0,.15)
}


.well-travel-options {
  display: flex;
  justify-content: center;
}

//ARTICLES

.article-holder {
  margin-top: 35px;
}

.article-box {
  padding-bottom: 15px;
  padding-top: 15px;

  @media (min-width: 768px) {
    &>.article-text {
      width: 54%;
      margin-top: 30px;
    }

    &>.article-image {
      width: 44%;
    }
  }

}

.article-category-box {
  width: 120px;
  height: 30px;
  background-color: $accent-color;
  position: absolute;
  margin-top: -23px;
  color: $text-secondary;
  box-shadow: 0 4px 6px rgba(59, 59, 59, 0.55);
}

.article-image > img {
  transform: translateY(-40px);
  max-height: 300px;
  box-shadow: 1px 1px 3px #e3e3e3;
  transition: all 0.31s cubic-bezier(0.64, 1.01, 0.4, 1.21);
}

.article-image > img:hover {
  transform: translateY(-15px);
}

.article-text > h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 1.7rem;
  &>span {
    font-size: .5em;
  }
}

.article-text > p {
  text-align: justify;
}

.article-text > .btn {
  @media (max-width: 991px) {
    width: 60%;
    font-size: 1rem;
  }

  @media (min-width: 992px) {
    width: 44%;
    font-size: 1.5rem;
  }

}


.article-box-widget {
  position: absolute;

  cursor: pointer;
  height: 40px;
  width: 40px;
  background-color: $body-bg;//$text-secondary;//$accent-color;
  color: $accent-color !important;

  background: {
    image: linear-gradient(45deg, $accent-color 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }

  border: 1px solid $accent-color;
  border-radius: 40px;
  transition: .45s ease-in all;

  @media (min-width: 768px) {
    margin-top: -45px;
  }
}

.article-box-widget:hover {
  background-position: 0;
  color: $text-secondary !important;
}

.article-box-widget__right {

  @media (min-width: 768px) {
    left: 105px;
  }
  @media (max-width: 768px) {
    right: 10px;
  }

}

.article-box-widget__middle {


  @media (min-width: 768px) {
    left: 60px;
  }
  @media (max-width: 768px) {
    right: 56px;
  }
}

.article-box-widget__left {
  @media (max-width: 768px) {
    right: 105px;
  }
}

.article-box-widget > p > i.material-icons {
  line-height: 40px;
  font-size: 1.2em;
  text-shadow: 0px 0px 2px $accent-color;
}


/** GALLERY PROPERTIES */

.gallery-holder {
  padding: 0px;

  @media (max-width: 991px) {
    margin-top: 50px;
  }

  @media (min-height: 992px) {
    margin-top: 100px;
  }
}

.gallery-box {
  margin-left: 0px;
  margin-right: 0px;

  @media (max-width: 991px) {
    height: 220px;
  }

  @media (min-width: 992px) {
    height: 320px;
  }
}


.gallery-box > .gallery-box-big {
  height: 100%;
  cursor: pointer;
  background: {
    image: linear-gradient(rgba($navbar-default-bg, 0.60),rgba($navbar-default-bg, 0.60)), url("http://www.infobarrel.com/media/image/74981.jpg");
    size: 110%;
    position: center;
  };
  //background-color: blue;
  transition: all 0.55s ease-out;
  -moz-transition: all 0.55s ease-out;
  -ms-transition: all 0.55s ease-out;
  -o-transition: all 0.55s ease-out;
  -webkit-transition: all 0.55s ease-out;
  background-size: cover;
  box-shadow: 0 4px 6px rgba(59, 59, 59, 0.15)
}

.gallery-box > .gallery-box-big:hover {
  background: {
    image: linear-gradient(rgba($navbar-default-bg, 0.75), rgba($navbar-default-bg, 0.75)), url("http://www.infobarrel.com/media/image/74981.jpg");
    size: 125%;
  }
}

.gallery-box > .gallery-box-big > .gallery-box-title {
  position: absolute;
  bottom: 1.3rem;
  color: $text-secondary;
  font-weight: 200;
}

.gallery-box > .gallery-box-big > .gallery-box-amount {
  width: 90px;
  height: 30px;
  margin-top: 7px;
}

.gallery-box > .gallery-box-big > .gallery-box-amount > .gallery-box-amount__icon {
  float: left;
  width: 40px;
  background: $accent-color;
  color: #fff;
  height: 100%;

  &>i.material-icons {
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
  }
}

.gallery-box > .gallery-box-big > .gallery-box-amount > .gallery-box-amount__number {
  background: #fff;
  color: #212121;
  height: 100%;

  &>p {
    line-height: 30px;
    margin-left: 45px;
  }
}

/** advertisment details */

.local-advert {
  background: {
    image: linear-gradient(rgba($navbar-default-bg, .87), rgba($navbar-default-bg, .87)), url("/img/assets/profile/forest.jpg");
    size: cover;
  };

  padding: 0px;

  -webkit-clip-path: polygon(20% 0%, 0% 20%, 0 52%, 0% 80%, 0 100%, 53% 100%, 80% 100%, 100% 80%, 100% 48%, 100% 20%, 100% 0, 56% 0);
  clip-path: polygon(20% 0%, 0% 20%, 0 52%, 0% 80%, 0 100%, 53% 100%, 80% 100%, 100% 80%, 100% 48%, 100% 20%, 100% 0, 56% 0);

  box-shadow: 0 4px 6px rgba(59, 59, 59, 0.15);

  &>h1 {
    font-size: 3em;
    overflow-wrap: break-word;
    text-transform: uppercase;
    background: url("/img/assets/profile/forest.jpg") no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-size: cover;
    background-position-y: -78px;

    text-align: center;
    font-weight: 900;
    //font-size: 5em;
    line-height: 320px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.local-advert__big {
  height: 100%;
}

/** profile siderbar things */

.sidebar-title-box {
  //margin-top: 50px;
  background-color: $accent-color;
  background-image: linear-gradient(rgba($accent-color, .7), rgba($accent-color, .7)), url("/img/assets/profile/mountine.jpg");

  background-clip: border-box;

  background-position: right;
  background-position-x: 0;
  background-position-y: 270px;

  box-shadow: 0 4px 6px rgba(59, 59, 59, 0.15);
  &>h3 {
    text-transform: uppercase;
    color: $text-secondary;

    margin-top: 21px;
    margin-bottom: 21px;

    font-weight: 100;
  }
}

.user-video {
  margin-bottom: 15px;
}

.user-video--image {
  height: 70px;
  background: {
    image: linear-gradient(rgba($accent-color, .7), rgba($accent-color, .7)), url("https://cdn1.lockerdomecdn.com/uploads/2b3a25bc83f735499513a561eb80bd391b52eda526a9527636b2e941e6091e05_facebook");
    position: center;
    size: cover;
  }

  cursor: pointer;
  transition: all .36s ease-in;

  &:hover{ background: {image: linear-gradient(rgba($accent-color, .75), rgba($accent-color, .75)), url("https://cdn1.lockerdomecdn.com/uploads/2b3a25bc83f735499513a561eb80bd391b52eda526a9527636b2e941e6091e05_facebook");}}
}


.user-video--image > i.material-icons {
  width: 100%;
  line-height: 70px;
  text-align: center;
  color: $text-secondary;
}

.user-video--description {

  @media (max-width: 991px) {
    padding-left: 0;
    margin-top: 5px;
  }

  &>h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 1em;
  }

  &>p {
    margin-bottom: 0;
  }
}




/** sidebar suggested users */

.suggested-user {
  display: flex;
  margin-bottom: 10px;
}

.suggested-user--image {
  flex: 0 0 auto;
  padding-left: 0px;
  padding-top: 0px;
  margin-right: 10px;

  height: 75px;
  width: 75px;
}

.suggested-user--description {
  flex: 0 1 auto;

  &>p {
    height: 20px;
  }
}

.suggested-user--description .suggested-user--description__name {
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 10px;
}

.suggested-user--description .suggested-user--description__next_travel {
  margin-bottom: 0;
}

.suggested-user--description .suggested-user--description__from {
  font-weight: 300;
  margin-bottom: 0;
}

.suggested-user--description .suggested-user--description__link {
  color: $accent-color;
  cursor: pointer;
}


  //    transition: all .3s cubic-bezier(.34,1.61,.7,1);

//box colors

.red-box {
  background-color: #f44336;
  color: #fff;
}

.green-box {
  background-color: #7CB342; //#CDDC39
  color: #fff;
}

.blue-box {
  background-color: #2196F3;
  color: #fff;
}

.grey-box {
  background-color: #546E7A;
  color: #fff;
}

.yellow-box {
  background-color: #FFB300;
  color: #fff;
}

.purple-box {
  background-color: #5E35B1;
  color: #fff;
}

.lime-box {
  background-color:#CDDC39;
  color: #fff;
}

