
.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}


.panel {
  border-radius: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.panel-success .panel-heading{
  background-color: $brand-success;
  color: #fff;
}

.panel-danger .panel-heading{
  background-color: $danger-color;
  color: $text-secondary;
}



.custom-hr {
  border-bottom: 1px solid $accent-color;
}

.panel-custom {
  @extend .panel-default;
  box-shadow: 3px 3px 9px $shadow-color;
  //box-shadow: 1px 2px 3px;
}
.panel-custom .panel-heading {
  @extend .panel-heading;
  background-color: $body-bg;
  color: $text-secondary;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0;
}


.alert {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  z-index: 10000;
}

.close {
  color: lighten($accent-second-color,40);
}
button.close {
  color: darken($accent-color, 10);
  &:hover {
    color: darken($accent-color, 20);
  }
}


.close:hover {
  color: lighten ($accent-second-color,40);
}

.error {
  color: $danger-color;
}



//error box

