.table-custom thead{
  background-color: $primary-background-color;
  color: $text-secondary;
  text-transform: uppercase;
}

.table-custom thead tr th {
  text-align: center;
}


//translation tables

.word-original, .word-translated {
  text-align: center;
  font-size: 1.6em;
  font-weight: 600;
}

.word-language {
  @extend .word-original;
  color: $accent-color;
}