

.step-container {
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 20px;
  border-left: 3px solid darken(#f5f5f5, 10);
  &.complete {
    border-color: $accent-color;
  }

}

.float-step-box {
  height: 50px;
  width: 50px;
  border: 3px solid darken(#f5f5f5, 10);
  border-radius: 50%;
  position: absolute;
  left: -10px;
  background-color: #f5f5f5;

/*  &.complete {
    border-color: $accent-color
  }*/
}


.complete > .float-step-box {
  border-color: $accent-color;
}

.float-step-number {
  color: darken(#f5f5f5, 10);
  text-align: center;
  width: 100%;
  line-height: 45px;
  margin-bottom: 0;
  font-size: 1.4em;
  font-weight: 600;
}

.float-step-number > .material-icons {
  line-height: 45px;
}

.complete > .float-step-box  > .float-step-number {
  color: $accent-color;
}

.travels-form .form-control {
  width: 100%;
  border-radius: 0px;
  border-width: 0px;
  border-bottom: 1px solid $accent-color;
  box-shadow: none;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.4s linear all;
  background-color: #f5f5f5;

  &:focus {
    border-bottom: 2px solid $accent-second-color;
  }
}

.travels-form textarea.form-control {
  border: 1px solid $accent-color;

  &:focus {
    border: 2px solid $accent-second-color;
  }
}


.travels-form .control-label {
  color: $text-color;
  text-shadow: 0px 0px 1px $accent-color;
}

.step-container > h3 {
  margin-top: 0px;
}

//LAYER TO HIDE
.incomplete > .float-step-layer {
  background-color: #f5f5f5;
  width: 100%;
  //height: 350px; //NEED to bee dynamic
  position: absolute;
  opacity: 0.7;
}

.complete > .float-step-layer {
  display: none;
}


//loader

#big-loader-screen {
  background-color: #f5f5f5;
  width: 100%;
  position: absolute;
  z-index: 1005;
  opacity: 0.8;
}

#big-loader-screen > h1 {
  color: $accent-color;
  font-size: 4em;
  line-height: 200px;
}


//error helper block
.error-helper {
  display: none;
}
.error-helper.has-error {
  display: block;
  color: rgba(233,30,99,1);
  font-weight: 600;
}

.error-helper.has-success {
  display: block;
  color: rgba(139,195,74,1);
  font-weight: 600;
}



.trip-box-widget {
  cursor: pointer;
  height: 40px;
  width: 40px;
  background-color: $body-bg;//$text-secondary;//$accent-color;
  color: $accent-color !important;

  margin-left: 3px;
  margin-right: 3px;

  background: {
    image: linear-gradient(45deg, $accent-color 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }

  border: 1px solid $accent-color;
  border-radius: 40px;
  transition: .45s ease-in all;

  @media (min-width: 768px) {
    margin-top: -75px;
  }
}

.trip-box-widget:hover {
  background-position: 0;
  color: $text-secondary !important;
}

.trip-box-widget > p > i.material-icons {
  line-height: 40px;
  font-size: 1.2em;
  text-shadow: 0px 0px 2px $accent-color;
}


.user-trips {
  min-height: 375px;
}