
// Body
$body-bg: #EEEEEE;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #00c6ff;//#03A9F4;//#2979FF;
$brand-info: #8eb4cb;
$brand-success: #8BC34A;
$brand-warning: #cbb956;
$brand-danger:  #ef473a;//#F50057;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #546E7A;

// Navbar
$navbar-default-bg: rgba(#212121, 0.7);

// Buttons


// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;


///MAIN COLORS
$primary-background-color: #384259;
//$secondary-background-color: #CFD8DC;
$accent-color: #03C1EB;
$accent-second-color: #EE2B47;


$text-secondary: #F6F6F6;
$shadow-color: lighten($navbar-default-bg, 10);

$danger-color:#c62828;//#F50057;

$btn-default-color: $text-color;
$btn-default-bg: #F6F6F6;
$btn-default-border: $accent-color;
$btn-default-border-radius: 0px;
