
// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height: 100vh;
  margin: 0;
  background-color: #112233;
  background-image: url("../img/photography.png");
  //background-size: cover;
}

@import "login";
@import "buttons";

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

#map {
  height: 100%;
}

.panel {
  border-radius: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.panel-success .panel-heading{
  background-color: $brand-success;
  color: #fff;
}

.panel-danger .panel-heading{
  background-color: #c62828;
  color: #fff;
}


#marker-container {
  @media (min-width: 755px) {
    height: 1000px;
  }

  @media (max-width: 754px) {
    height: 540px;
  }
}

.custom-hr {
  border-bottom: 1px solid #ef473a;
}

.panel-custom {
  @extend .panel-default;
  box-shadow: 3px 3px 9px #212121;
  //box-shadow: 1px 2px 3px;
}
.panel-custom .panel-heading {
  @extend .panel-heading;
  background-color: #263238;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0;
}


.alert {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  z-index: 10000;
}

.close {
  color: lighten(#636b6f,10);
}

.close:hover {
  color: lighten(#636b6f,10);
}

.error {
  color: #cb2d3e;
  display: block;
}

.error-holder {
  display: none;
}

// ADMIN FOOTER
.footer {
  width: 100%;
  position: fixed;
}

.footer > p {
  color: #212121;
  font-weight: 600;
}


@import "profile";
@import "modal";
@import "table";
