@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height: 100vh;
  margin: 0;
  //background-color: #B0BEC5;
  background-image: linear-gradient(rgba(33,33,33 ,.85), rgba(33,33,33 ,.80)), url("../../img/assets/maintenance/main.jpg");
  //background-size: cover;
}

.maintenance-well {
  margin-top: 20%;
  box-shadow: 0 0 50px 20px #212121;
  background-image: linear-gradient(rgba(33,33,33 ,.95), rgba(33,33,33 ,.91)), url("../../img/assets/maintenance/main.jpg");
  border-color: transparent;

  & h1, & p {
    color: rgba(245,245,245 ,1);
    font-weight: 300;
  }
}


.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

#map {
  height: 100%;
}

.panel {
  border-radius: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.panel-success .panel-heading{
  background-color: $brand-success;
  color: #fff;
}

.panel-danger .panel-heading{
  background-color: #c62828;
  color: #fff;
}


.custom-hr {
  border-bottom: 1px solid #ef473a;
}

.panel-custom {
  @extend .panel-default;
  box-shadow: 3px 3px 9px #212121;
  //box-shadow: 1px 2px 3px;
}
.panel-custom .panel-heading {
  @extend .panel-heading;
  background-color: #263238;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0;
}


.alert {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  z-index: 10000;
}

.close {
  color: lighten(#636b6f,10);
}

.close:hover {
  color: lighten(#636b6f,10);
}

.error {
  color: #cb2d3e;
}

// ADMIN FOOTER
.footer {
  width: 100%;
  position: fixed;
}

.footer > p {
  color: #212121;
  font-weight: 600;
}


@import "profile";
@import "modal";
@import "table";
