
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);
@import "../variables";

//Override variables
///MAIN COLORS
$primary-background-color: #F6F5F5;
$body-bg: #E3E3E3;
$accent-color: #3BB4C1;
$accent-second-color: #048998;


$text-secondary: #455A64;
$shadow-color: #1B3C68;

$danger-color:#c62828;//#F50057;

$btn-default-color: $text-color;
$btn-default-bg: #E3E3E3;
$btn-default-border: $accent-color;
$btn-default-border-radius: 0px;



@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "../main";

@import "../login";
@import "../buttons";
@import "../random";
@import "../notes";

@import "../footer";
@import "../profile";
@import "../modal";
@import "../table";
@import "../map";
@import "../travel";

@import "../navbar";
@import "../hexagons";

@import "../pages/schedule";